.recipe7{
  margin-bottom: 50px;
}

.recipe7-category{
  margin-top: 40px;
  margin-left: 50px;
  color: red;   
}

.recipe7-title {  
  display: flex;
  justify-content: center;
  align-items: center; 
}
  
.recipe7-description{   
  display: flex;
  justify-content: center;
  align-items: center;
  }

.recipe7-image{
  display: flex;
  justify-content: center;
  align-items: center;   
  }


.recipe7-directions{
  margin-left: 50px;
 }