.recipe8{
  margin-bottom: 50px;
}

.recipe8-category{
  margin-top: 40px;
  margin-left: 50px;
  color: red;   
}

.recipe8-title {  
  display: flex;
  justify-content: center;
  align-items: center; 
}
  
.recipe8-description{   
  display: flex;
  justify-content: center;
  align-items: center;
  }

.recipe8-image{
  display: flex;
  justify-content: center;
  align-items: center;   
  }


.recipe8-directions{
  margin-left: 50px;
 }