*{
    margin: 0;
    padding: 0;
  }
  
  .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:80px;
    background-color: #3a8353;
    color: white;
  }
  
  .logo{
    font-size: 60px;
    font-family: Brush Script MT;
    margin-left: 50px;
  
  }
  
  .search-box{
    margin-left: 200px;
    width: 500px;
  }
  
  .navbar-menu{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    padding: 30px;       
  }
  
  .home,  
  .login{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 4px 10px;    
  }
  
  