.recipe1{
  margin-bottom: 50px;
}

.recipe1-category{
  margin-top: 40px;
  margin-left: 50px;
  color: red;   
}

.recipe1-title {  
  display: flex;
  justify-content: center;
  align-items: center; 
}
  
.recipe1-description{   
  display: flex;
  justify-content: center;
  align-items: center;
  }

.recipe1-image{
  display: flex;
  justify-content: center;
  align-items: center;  
  }


.recipe1-directions{
  margin-left: 50px;
 }