.recipe4{
  margin-bottom: 50px;
}

.recipe4-category{
  margin-top: 40px;
  margin-left: 50px;
  color: red;   
}

.recipe4-title {  
  display: flex;
  justify-content: center;
  align-items: center; 
}
  
.recipe4-description{   
  display: flex;
  justify-content: center;
  align-items: center;
  }

.recipe4-image{
  display: flex;
  justify-content: center;
  align-items: center;   
  }


.recipe4-directions{
  margin-left: 50px;
 }