.recipe{
    margin-bottom: 50px;
  }

.breadcrumbs{
    margin-top: 100px;  
    }
    
.ratings{
    float: right;    
    }
  
.category{
    margin-top: 40px;
    margin-left: 50px;  
    color: red;   
  }
  
.main-title {  
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: Lucida Handwriting;
    font-size: 60px;  
    color: #375a43; 
    // background-color: rgb(248, 229, 209);
  }
    
.description{   
    display: flex;
    justify-content: center;
    align-items: center;
    }

.title{
    font-family: Copperplate Gothic;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: rgb(218, 214, 214);
      }
  
  
  




.recipe1-image,
.recipe2-image,
.recipe3-image,
.recipe4-image,
.recipe5-image,
.recipe6-image,
.recipe7-image,
.recipe8-image{    
    display: flex;
    justify-content: center;
    align-items: center;  
}