.recipe3{
  margin-bottom: 50px;
}

.recipe3-category{
  margin-top: 40px;
  margin-left: 50px;
  color: red;   
}

.recipe3-title {  
  display: flex;
  justify-content: center;
  align-items: center; 
}
  
.recipe3-description{   
  display: flex;
  justify-content: center;
  align-items: center;
  }

.recipe3-image{
  display: flex;
  justify-content: center;
  align-items: center;  
  }


.recipe3-directions{
  margin-left: 50px;
 }