.recipe5{
  margin-bottom: 50px;
}

.recipe5-category{
  margin-top: 40px;
  margin-left: 50px;
  color: red;   
}

.recipe5-title {  
  display: flex;
  justify-content: center;
  align-items: center; 
}
  
.recipe5-description{   
  display: flex;
  justify-content: center;
  align-items: center;
  }

.recipe5-image{
  display: flex;
  justify-content: center;
  align-items: center;   
  }


.recipe5-directions{
  margin-left: 50px;
 }